.Form {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Form input {
    width: 200px;
    border: solid 2px #b1b1b1;
}
.Form input:focus {
    border-color: #5858ff;
}